<div id="<%= dom_id event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Event type:</strong>
    <%= event.event_type&.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">定員:</strong>
    <%= event.capacity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Held at:</strong>
    <%= event.held_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= event.location %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= event.status_ja %>
  </div>
</div>
